<!DOCTYPE html>
<html>
<head>
    <title>IPL STATS</title>
</head>
<body>
    <h1>IPL STATS for year {{year}}</h1>

    <div>
            <ul>
                <li>Top 4 teams in terms of win</li>
                <h4>{{top4}}</h4>
                <li>Team winning the most number of tosses in the season</li>
                <h4>{{most_tosses}}</h4>
                <li>Player winning the maximum number of Player of the Match awards in the whole season</li>
                <h4>{{max_pom}}</h4>
                <li>Team winning the max matches in the whole season</li>
                <h4>{{max_matches}}</h4>
                <li>Which location has the most number of wins for the top team</li>
                <h4>{{location}}</h4>
                <li>What % of teams decided to bat when they won the toss</li>
                <h4>{{per_bat}}</h4>
                <li>Which team won by the highest margin of runs for the season</li>
                <h4>{{margin}}</h4>
                <li>Which team won by the highest number of wickets for the season</li>
                <h4>{{number}}</h4>
                <li>How many times has a team won the toss and the match</li>
                <h4>{{toss_match}}</h4>
                
            </ul>
    </div>
</body>
</html>